*{
box-sizing:border-box;
}
	

.form{
  border-radius: 20px;
}

div{
border:2px solid red;
}

.one{
font-size: 2rem;
}

.two{
  background-size: 85%;
}

.off_canvas{
  background-color: gray;
}

.termsOfuse{
  color:red;
  text-decoration: none;
}

.list{
  list-style:none;
}

.customer{
  background-color: #9AB3F5;
}

.review{
  background-color: #B9FFFC;
}

.transaction{
  background-color: #A3DAF4;
}

h1,h2,h3,h4,h5,p,a,button,input,div{
  font-family:algerian serif;
}

.links{
  text-decoration: none;
}

.footer{
  color:white;
}

.bg-last{
  background-color:#5E3B4D;
}

.footer-padding{
  padding-left:30px;
}

.firstRow{
  background-color: #D1D4C9;
  padding-top:30px;
}

.first{
  padding-top:20px;
}

.second{
  background-color: #F4E5C2;
}

.firstFeature{
  background-color: #F7F5DD;
}

#a1{
	min-height:630px;
	width:100%;
	background-image:url(assets/images/banner.jpg);

}

#a2{
	height:640px;
	width:100%;
	background-color:rgba(0,0,0,0.7);
}

.hero-button {
  background-color: rgb(13,110,253);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: rgb(25, 45, 156);
}

/* #a1{
	height:700px;
	width:100%;
	background-image:url(assets/images/repair.jpg);
} */

/* video starts */

/* video ends */
